{
  "openapi": "3.0.0",
  "info": {
    "description": "The BeatPass API provides access to platform data for approved developer integrations. API access is invite-only \u2014 contact contact@beatpass.ca to request access. Authenticate with a Bearer token. Tokens expire after 90 days. Unauthenticated requests return minimal data (e.g. id, name, image, model_type, and basic metadata). Global rate limit: 300 requests/minute.",
    "version": "1.0.1",
    "title": "BeatPass API"
  },
  "servers": [
    {
      "url": "https://open.beatpass.ca/api/v1",
      "description": "Production API"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Search",
      "description": "Search across albums, artists, playlists, tracks and users"
    },
    {
      "name": "Playlists",
      "description": "Manage playlists and playlist tracks"
    },
    {
      "name": "Playlist Collaboration",
      "description": "Invite users to collaborate on playlists"
    },
    {
      "name": "Artists",
      "description": "Manage artists and artist information"
    },
    {
      "name": "Albums",
      "description": "Manage albums and album information"
    },
    {
      "name": "Tracks",
      "description": "Manage tracks, downloads and track information"
    },
    {
      "name": "Track Purchases",
      "description": "Purchase tracks and generate exclusive licenses"
    },
    {
      "name": "License Certificates",
      "description": "Generate, verify and manage track licenses"
    },
    {
      "name": "Audio Fingerprinting",
      "description": "Generate audio fingerprints and detect duplicates"
    },
    {
      "name": "Beat Requests",
      "description": "Create and manage custom beat requests"
    },
    {
      "name": "Producer Intelligence",
      "description": "Analytics, XP, achievements and leaderboards for producers"
    },
    {
      "name": "Tags",
      "description": "Manage track and album tags"
    },
    {
      "name": "Genres",
      "description": "Manage music genres"
    },
    {
      "name": "Users",
      "description": "User management, search and social features"
    },
    {
      "name": "User Library",
      "description": "Manage user's liked tracks, albums and artists"
    },
    {
      "name": "Reposts",
      "description": "Repost tracks to share with followers"
    },
    {
      "name": "Track Plays",
      "description": "Log and track music playback statistics"
    },
    {
      "name": "Radio",
      "description": "Get personalized music recommendations"
    },
    {
      "name": "Leaderboards",
      "description": "Platform-wide producer and achievement leaderboards"
    },
    {
      "name": "Cover Art",
      "description": "Generate custom cover art using templates"
    },
    {
      "name": "Auth",
      "description": "Authenticate requests to the API"
    },
    {
      "name": "Messaging",
      "description": "Direct messages, group conversations, and real-time features"
    },
    {
      "name": "Collections",
      "description": "Curated content collections"
    },
    {
      "name": "Stripe Connect",
      "description": "Legacy Stripe Connect onboarding and financial overview where available"
    },
    {
      "name": "Exclusive Licenses",
      "description": "Manage exclusive license pricing presets"
    },
    {
      "name": "Coupons",
      "description": "Validate discount codes during checkout"
    },
    {
      "name": "Notifications",
      "description": "Manage notification preferences and FCM device tokens"
    }
  ],
  "paths": {
    "/search": {
      "get": {
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Search"
        ],
        "summary": "Get information about albums, artists, playlists, tracks or users that match a keyword string.",
        "operationId": "searchIndex",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Search query keywords",
            "schema": {
              "type": "string",
              "example": "led zeppelin",
              "default": null
            }
          },
          {
            "name": "loader",
            "in": "query",
            "description": "searchPage returns up to 20 results per permitted model type; other loader values use 3. types and limit are not read by this action.",
            "schema": {
              "type": "string",
              "default": "searchPage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search result arrays grouped by permitted type; loader and query are top-level fields.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "query": {
                      "type": "string"
                    },
                    "results": {
                      "oneOf": [
                        {
                          "type": "object",
                          "properties": {
                            "artists": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Artist"
                              }
                            },
                            "albums": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Album"
                              }
                            },
                            "tracks": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Track"
                              }
                            },
                            "playlists": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Playlist"
                              }
                            },
                            "users": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/User"
                              }
                            },
                            "tags": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Tag"
                              }
                            }
                          },
                          "description": "Only permitted model types are searched. With no query, results is an empty array."
                        },
                        {
                          "type": "array",
                          "items": {},
                          "maxItems": 0
                        }
                      ]
                    },
                    "loader": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          }
        }
      }
    },
    "/playlists/{id}": {
      "get": {
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Playlists"
        ],
        "summary": "Get a Playlist",
        "operationId": "getPlaylist",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the playlist",
            "example": 900000001,
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response body contains a playlist object in JSON format.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "playlist": {
                      "$ref": "#/components/schemas/Playlist"
                    },
                    "loader": {
                      "type": "string"
                    },
                    "totalDuration": {
                      "nullable": true,
                      "type": "integer",
                      "example": 386493,
                      "description": "Total duration of all playlist tracks in milliseconds"
                    },
                    "tracks": {
                      "nullable": true,
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Pagination"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "data": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Track"
                              }
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          }
        },
        "description": "\n\nSynthetic, nonfunctional documentation fixtures only. Names and identifiers are invented, not copied from accounts. Numeric IDs and valid-format UUIDs can coincide with real records; never send these fixtures to a live API."
      },
      "delete": {
        "tags": [
          "Playlists"
        ],
        "summary": "Delete a playlist",
        "operationId": "deletePlaylist",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Playlist ID or comma-separated playlist IDs.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Playlist has been deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          }
        }
      }
    },
    "/playlists": {
      "post": {
        "tags": [
          "Playlists"
        ],
        "summary": "Create a Playlist for current user",
        "operationId": "createPlaylist",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Synthetic name Fixture",
                    "description": "Unique for this playlist owner.",
                    "maxLength": 250,
                    "minLength": 3
                  },
                  "description": {
                    "type": "string",
                    "nullable": true,
                    "description": "Short description for the playlist.",
                    "maxLength": 170,
                    "minLength": 20
                  },
                  "image": {
                    "type": "string",
                    "nullable": true,
                    "description": "Image url for playlist"
                  },
                  "public": {
                    "type": "boolean",
                    "default": false,
                    "description": "Whether this playlist will be set as public"
                  },
                  "collaborative": {
                    "type": "boolean",
                    "default": false,
                    "description": "Whether this playlist will be set as collaborative"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "On success, the response body contains the created playlist object in JSON format",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "playlist": {
                      "$ref": "#/components/schemas/Playlist"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          },
          "422": {
            "$ref": "#/components/responses/Response422"
          }
        },
        "description": "\n\nSynthetic, nonfunctional documentation fixtures only. Names and identifiers are invented, not copied from accounts. Numeric IDs and valid-format UUIDs can coincide with real records; never send these fixtures to a live API."
      }
    },
    "/playlists/{id}/tracks": {
      "get": {
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Playlists"
        ],
        "summary": "Get full details of playlist tracks",
        "operationId": "getPlaylistTracks",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the playlist",
            "example": 900000001,
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "description": "How many tracks to return per page",
            "schema": {
              "type": "integer",
              "default": 30,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Which page to return",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response body contains a paginated list of playlist tracks in JSON format.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "pagination": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Pagination"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "data": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Track"
                              }
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          }
        },
        "description": "\n\nSynthetic, nonfunctional documentation fixtures only. Names and identifiers are invented, not copied from accounts. Numeric IDs and valid-format UUIDs can coincide with real records; never send these fixtures to a live API."
      }
    },
    "/playlists/{id}/tracks/add": {
      "post": {
        "tags": [
          "Playlists"
        ],
        "summary": "Add one or more tracks to a user's playlist",
        "operationId": "addTracksToPlaylist",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the playlist",
            "example": 900000001,
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ids": {
                    "description": "Existing track IDs. Every ids item must exist in tracks.",
                    "type": "array",
                    "example": [
                      900000001
                    ],
                    "items": {
                      "type": "integer"
                    }
                  }
                },
                "required": [
                  "ids"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Response body contains a playlist object in JSON format.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "playlist": {
                      "$ref": "#/components/schemas/Playlist"
                    },
                    "added_count": {
                      "type": "integer"
                    },
                    "duplicate_count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          },
          "422": {
            "description": "Invalid ids array or track ID."
          }
        },
        "description": "\n\nSynthetic, nonfunctional documentation fixtures only. Names and identifiers are invented, not copied from accounts. Numeric IDs and valid-format UUIDs can coincide with real records; never send these fixtures to a live API."
      }
    },
    "/playlists/{id}/tracks/remove": {
      "post": {
        "tags": [
          "Playlists"
        ],
        "summary": "Remove one or more tracks from a user's playlist",
        "operationId": "removeTracksFromPlaylist",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the playlist",
            "example": 900000001,
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ids": {
                    "description": "Existing track IDs. Every ids item must exist in tracks.",
                    "type": "array",
                    "example": [
                      900000001
                    ],
                    "items": {
                      "type": "integer"
                    }
                  }
                },
                "required": [
                  "ids"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Response body contains a playlist object in JSON format.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "playlist": {
                      "$ref": "#/components/schemas/Playlist"
                    },
                    "removed_count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          },
          "422": {
            "description": "Invalid ids array or track ID."
          }
        },
        "description": "\n\nSynthetic, nonfunctional documentation fixtures only. Names and identifiers are invented, not copied from accounts. Numeric IDs and valid-format UUIDs can coincide with real records; never send these fixtures to a live API."
      }
    },
    "/playlists/{id}/follow": {
      "post": {
        "tags": [
          "Playlists"
        ],
        "summary": "Follow specified playlist with current user",
        "operationId": "followPlaylist",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Playlist ID to follow.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Playlist has been followed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          }
        }
      }
    },
    "/playlists/{id}/unfollow": {
      "post": {
        "tags": [
          "Playlists"
        ],
        "summary": "Unfollow specified playlist with current user",
        "operationId": "unfollowPlaylist",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Playlist ID to unfollow.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Playlist has been unfollowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          }
        }
      }
    },
    "/artists/{id}": {
      "get": {
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Artists"
        ],
        "summary": "Get an Artist",
        "operationId": "getArtist",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the artist",
            "example": 900000001,
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "loader",
            "in": "query",
            "description": "Selects the server loader; relations depend on this mode and active artist-page tabs. The with parameter is not read.",
            "schema": {
              "type": "string",
              "default": "artistPage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response body contains an artist object in JSON format.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "artist": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Artist"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "similar": {
                              "nullable": true,
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Artist"
                              }
                            },
                            "top_tracks": {
                              "nullable": true,
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Track"
                              }
                            },
                            "genres": {
                              "nullable": true,
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Genre"
                              }
                            },
                            "profile": {
                              "$ref": "#/components/schemas/Profile"
                            },
                            "profile_images": {
                              "nullable": true,
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/ProfileImage"
                              }
                            },
                            "links": {
                              "nullable": true,
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/ProfileLink"
                              }
                            }
                          }
                        }
                      ]
                    },
                    "albums": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "from": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "to": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "per_page": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Album"
                          }
                        }
                      },
                      "description": "Simple pagination. Does not provide total or last_page."
                    },
                    "loader": {
                      "type": "string"
                    },
                    "selectedAlbumLayout": {
                      "type": "string"
                    },
                    "tracks": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Pagination"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "data": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Track"
                              }
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          }
        },
        "description": "\n\nSynthetic, nonfunctional documentation fixtures only. Names and identifiers are invented, not copied from accounts. Numeric IDs and valid-format UUIDs can coincide with real records; never send these fixtures to a live API."
      }
    },
    "/artists/{id}/tracks": {
      "get": {
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Artists"
        ],
        "summary": "Paginate artist tracks",
        "operationId": "getArtistTracks",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the artist",
            "example": 900000001,
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "description": "How many tracks to return per page",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Which page to return",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response body contains a paginated list of artist tracks in JSON format.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "pagination": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Pagination"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "data": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Track"
                              }
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          }
        },
        "description": "\n\nSynthetic, nonfunctional documentation fixtures only. Names and identifiers are invented, not copied from accounts. Numeric IDs and valid-format UUIDs can coincide with real records; never send these fixtures to a live API."
      }
    },
    "/artists/{id}/albums": {
      "get": {
        "tags": [
          "Artists"
        ],
        "summary": "Paginate artist albums",
        "operationId": "getArtistAlbums",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the artist",
            "example": 900000001,
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "description": "How many tracks to return per page",
            "schema": {
              "type": "integer",
              "default": 5
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Which page to return",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response body contains a paginated list of artist albums in JSON format.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "pagination": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Pagination"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "data": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Album"
                              }
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          }
        },
        "description": "\n\nSynthetic, nonfunctional documentation fixtures only. Names and identifiers are invented, not copied from accounts. Numeric IDs and valid-format UUIDs can coincide with real records; never send these fixtures to a live API."
      }
    },
    "/artists/{id}/followers": {
      "get": {
        "tags": [
          "Artists"
        ],
        "summary": "Get all users that follow specified artist",
        "operationId": "getArtistFollowers",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the artist",
            "example": 900000001,
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "description": "Number of followers per page",
            "schema": {
              "type": "integer",
              "default": 25
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Which page to return",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response body contains a paginated list of users that follow specified artist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "pagination": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Pagination"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "data": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/User"
                              }
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          }
        },
        "description": "\n\nSynthetic, nonfunctional documentation fixtures only. Names and identifiers are invented, not copied from accounts. Numeric IDs and valid-format UUIDs can coincide with real records; never send these fixtures to a live API."
      }
    },
    "/albums/{id}": {
      "get": {
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Albums"
        ],
        "summary": "Get an Album",
        "operationId": "getAlbum",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the album",
            "example": 900000001,
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "loader",
            "in": "query",
            "description": "Selects the server loader and its loaded relations. The with parameter is not read.",
            "schema": {
              "type": "string",
              "default": "albumPage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response body contains an album object in JSON format.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "album": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Album"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "genres": {
                              "nullable": true,
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Genre"
                              }
                            },
                            "tags": {
                              "nullable": true,
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Tag"
                              }
                            }
                          }
                        }
                      ]
                    },
                    "loader": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          }
        },
        "description": "\n\nSynthetic, nonfunctional documentation fixtures only. Names and identifiers are invented, not copied from accounts. Numeric IDs and valid-format UUIDs can coincide with real records; never send these fixtures to a live API."
      }
    },
    "/tracks/{id}": {
      "get": {
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Tracks"
        ],
        "summary": "Get a Track",
        "operationId": "getTrack",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the track",
            "example": 900000001,
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "loader",
            "in": "query",
            "description": "Selects the server loader and its loaded relations. The with parameter is not read.",
            "schema": {
              "type": "string",
              "default": "trackPage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response body contains a track object in JSON format.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "track": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Track"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "album": {
                              "$ref": "#/components/schemas/Album"
                            },
                            "genres": {
                              "nullable": true,
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Genre"
                              }
                            },
                            "tags": {
                              "nullable": true,
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Tag"
                              }
                            }
                          }
                        }
                      ]
                    },
                    "loader": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          }
        },
        "description": "\n\nSynthetic, nonfunctional documentation fixtures only. Names and identifiers are invented, not copied from accounts. Numeric IDs and valid-format UUIDs can coincide with real records; never send these fixtures to a live API."
      }
    },
    "/tracks/{id}/lyrics": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Tracks"
        ],
        "summary": "Get lyric for specified track",
        "operationId": "getTrackLyric",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the track",
            "example": 900000001,
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response body contains a lyric object for specified track",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "lyric": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Lyric"
                        }
                      ],
                      "nullable": true,
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          }
        },
        "description": "\n\nSynthetic, nonfunctional documentation fixtures only. Names and identifiers are invented, not copied from accounts. Numeric IDs and valid-format UUIDs can coincide with real records; never send these fixtures to a live API.\n\nSign-in is required. Returns the signed-in user's personal lyrics for this track."
      }
    },
    "/tags/{name}/tracks": {
      "get": {
        "tags": [
          "Tags"
        ],
        "summary": "List tracks for specified tag",
        "operationId": "getTagTracks",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Name of the tag",
            "example": "Synthetic name Fixture",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "description": "How many tracks to return per page",
            "schema": {
              "type": "integer",
              "default": 15
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Which page to return",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response body contains a paginated list of tracks for specified tag in JSON format.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "pagination": {
                      "description": "Simple pagination. Does not provide total or last_page.",
                      "properties": {
                        "current_page": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "from": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "to": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "per_page": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Track"
                          }
                        }
                      },
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          },
          "404": {
            "$ref": "#/components/responses/Response404"
          }
        },
        "description": "\n\nSynthetic, nonfunctional documentation fixtures only. Names and identifiers are invented, not copied from accounts. Numeric IDs and valid-format UUIDs can coincide with real records; never send these fixtures to a live API."
      }
    },
    "/tags/{name}/albums": {
      "get": {
        "tags": [
          "Tags"
        ],
        "summary": "List albums for specified tag",
        "operationId": "getTagAlbums",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Name of the tag",
            "example": "Synthetic name Fixture",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "description": "How many albums to return per page",
            "schema": {
              "type": "integer",
              "default": 15
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Which page to return",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response body contains a paginated list of albums for specified tag in JSON format.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "pagination": {
                      "description": "Simple pagination. Does not provide total or last_page.",
                      "properties": {
                        "current_page": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "from": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "to": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "per_page": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Album"
                          }
                        }
                      },
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          },
          "404": {
            "$ref": "#/components/responses/Response404"
          }
        },
        "description": "\n\nSynthetic, nonfunctional documentation fixtures only. Names and identifiers are invented, not copied from accounts. Numeric IDs and valid-format UUIDs can coincide with real records; never send these fixtures to a live API."
      }
    },
    "/genres": {
      "get": {
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Genres"
        ],
        "summary": "List all available genres",
        "operationId": "indexGenres",
        "responses": {
          "200": {
            "description": "Response body contains a paginated list of all existing genres in JSON format.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "pagination": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Pagination"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "data": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Genre"
                              }
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          }
        }
      }
    },
    "/users/{id}": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get public profile information about a user.",
        "operationId": "getUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the user or \"me\" for currently logged in user.",
            "example": "me",
            "required": true,
            "schema": {
              "type": "string",
              "description": "User ID or me."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response body contains a user object in JSON format.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "user": {
                      "$ref": "#/components/schemas/User"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          },
          "404": {
            "$ref": "#/components/responses/Response404"
          }
        }
      }
    },
    "/users/me/liked-tracks": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "List tracks current user has liked",
        "operationId": "getUserLikedTracks",
        "parameters": [
          {
            "name": "perPage",
            "in": "query",
            "description": "How many tracks to return per page",
            "schema": {
              "type": "integer",
              "default": 15
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Which page to return",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response body contains a paginated list of tracks user has liked in JSON format.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "pagination": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Pagination"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "data": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Track"
                              }
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          }
        }
      }
    },
    "/users/me/liked-albums": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "List albums current user has liked",
        "operationId": "getUserLikedAlbums",
        "parameters": [
          {
            "name": "perPage",
            "in": "query",
            "description": "Number of albums per page",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Which page to return",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response body contains a paginated list of albums user has liked in JSON format.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "pagination": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Pagination"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "data": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Album"
                              }
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          }
        }
      }
    },
    "/users/me/liked-artists": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "List artists current user has liked",
        "operationId": "getUserLikedArtists",
        "parameters": [
          {
            "name": "perPage",
            "in": "query",
            "description": "Number of artists per page",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Which page to return",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response body contains a paginated list of artists user has liked in JSON format.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "pagination": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Pagination"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "data": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Artist"
                              }
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          }
        }
      }
    },
    "/users/me/playlists": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "List playlists current user has followed or created",
        "operationId": "getUserLikedPlaylists",
        "parameters": [
          {
            "name": "perPage",
            "in": "query",
            "description": "How many tracks to return per page",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Which page to return",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response body contains a paginated list of playlists user has liked in JSON format.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "pagination": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Pagination"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "data": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Playlist"
                              }
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          }
        }
      }
    },
    "/users/me/followers": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "List users that are following current user",
        "operationId": "getUserFollowers",
        "parameters": [
          {
            "name": "perPage",
            "in": "query",
            "description": "How many items to return per page",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Which page to return",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response body contains a paginated list of users that are following current user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "pagination": {
                      "description": "Simple pagination. Does not provide total or last_page.",
                      "properties": {
                        "current_page": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "from": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "to": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "per_page": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/User"
                          }
                        }
                      },
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          }
        }
      }
    },
    "/users/me/followed-users": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "List users that current user is currently following",
        "operationId": "getUserFollowed",
        "parameters": [
          {
            "name": "perPage",
            "in": "query",
            "description": "How many items to return per page",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Which page to return",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response body contains a paginated list of users that current user is currently following",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "pagination": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Pagination"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "data": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/User"
                              }
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          }
        }
      }
    },
    "/auth/register": {
      "post": {
        "security": [],
        "tags": [
          "Auth"
        ],
        "summary": "Register for a new account",
        "operationId": "register",
        "responses": {
          "200": {
            "description": "User registered",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "needs_email_verification"
                      ]
                    },
                    "boostrapData": {
                      "type": "object",
                      "properties": {
                        "themes": {
                          "type": "object",
                          "properties": {}
                        },
                        "user": {
                          "allOf": [
                            {
                              "$ref": "#/components/schemas/User"
                            },
                            {
                              "type": "object",
                              "properties": {
                                "access_token": {
                                  "type": "string",
                                  "description": "Sensitive token. Do not log or publish it. Write-only examples are intentionally omitted."
                                }
                              }
                            }
                          ]
                        },
                        "menus": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {}
                          }
                        },
                        "settings": {
                          "type": "object",
                          "properties": {}
                        },
                        "locales": {
                          "description": "Available locale payload from the localization repository."
                        }
                      },
                      "description": "Mobile response when token_name is present. boostrapData is the exact current spelling."
                    },
                    "bootstrapData": {
                      "type": "string",
                      "description": "Encoded web bootstrap response when token_name is absent."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          },
          "422": {
            "$ref": "#/components/responses/Response422"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "synthetic-user@example.com"
                  },
                  "password": {
                    "type": "string",
                    "example": "SYNTHETIC-NOT-A-CREDENTIAL"
                  },
                  "token_name": {
                    "type": "string",
                    "example": "Synthetic token name Fixture"
                  }
                }
              }
            }
          }
        },
        "description": "\n\nSynthetic, nonfunctional documentation fixtures only. Names and identifiers are invented, not copied from accounts. Numeric IDs and valid-format UUIDs can coincide with real records; never send these fixtures to a live API."
      }
    },
    "/auth/login": {
      "post": {
        "security": [],
        "tags": [
          "Auth"
        ],
        "summary": "Login",
        "description": "Authenticates the mobile client and returns bootstrap fields, including user and user.access_token.\n\nSynthetic, nonfunctional documentation fixtures only. Names and identifiers are invented, not copied from accounts. Numeric IDs and valid-format UUIDs can coincide with real records; never send these fixtures to a live API.",
        "operationId": "login",
        "responses": {
          "200": {
            "description": "Operation successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "user": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/User"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "access_token": {
                              "type": "string",
                              "description": "Sensitive token. Do not log or publish it. Write-only examples are intentionally omitted."
                            }
                          }
                        }
                      ]
                    },
                    "locales": {
                      "description": "Available locale payload from the localization repository."
                    },
                    "menus": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {}
                      }
                    },
                    "settings": {
                      "type": "object",
                      "properties": {}
                    },
                    "themes": {
                      "type": "object",
                      "properties": {}
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          },
          "422": {
            "description": "Invalid credentials or request validation failure, including token_name or verified-email checks."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "synthetic-user@example.com"
                  },
                  "password": {
                    "type": "string",
                    "example": "SYNTHETIC-NOT-A-CREDENTIAL"
                  },
                  "token_name": {
                    "type": "string",
                    "example": "Synthetic token name Fixture",
                    "maxLength": 100,
                    "minLength": 3
                  }
                },
                "required": [
                  "email",
                  "password",
                  "token_name"
                ]
              }
            }
          }
        }
      }
    },
    "/tracks/{id}/check-license": {
      "get": {
        "tags": [
          "License Certificates"
        ],
        "summary": "Check license status for a track",
        "operationId": "checkLicense",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Track ID",
            "schema": {
              "type": "integer",
              "example": 900000001
            }
          }
        ],
        "responses": {
          "200": {
            "description": "License status retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "description": "The matching valid license model, or JSON null when none is available (including guests). No status/has_license/license_details wrapper.",
                  "nullable": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          }
        },
        "description": "\n\nSynthetic, nonfunctional documentation fixtures only. Names and identifiers are invented, not copied from accounts. Numeric IDs and valid-format UUIDs can coincide with real records; never send these fixtures to a live API."
      }
    },
    "/tracks/{id}/download-license-pdf": {
      "get": {
        "tags": [
          "License Certificates"
        ],
        "summary": "Download license certificate as PDF",
        "operationId": "downloadLicensePdf",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Track ID",
            "schema": {
              "type": "integer",
              "example": 900000001
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JSON license and track data for client-side PDF generation; this endpoint does not return PDF bytes.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "license": {
                      "type": "object",
                      "properties": {}
                    },
                    "track": {
                      "$ref": "#/components/schemas/Track"
                    },
                    "trackChangedToExclusive": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "404": {
            "$ref": "#/components/responses/Response404"
          },
          "409": {
            "description": "Certificate is invalid or incomplete."
          },
          "500": {
            "description": "License data could not be returned for PDF generation."
          }
        },
        "description": "\n\nSynthetic, nonfunctional documentation fixtures only. Names and identifiers are invented, not copied from accounts. Numeric IDs and valid-format UUIDs can coincide with real records; never send these fixtures to a live API."
      }
    },
    "/verify-license/{uuid}": {
      "post": {
        "tags": [
          "License Certificates"
        ],
        "summary": "Verify a license certificate by UUID",
        "operationId": "verifyLicense",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "License UUID",
            "schema": {
              "type": "string",
              "example": "00000000-0000-4000-8000-0000a3a9e1ed"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "License verification result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "License lifecycle/validity status; not a success envelope."
                    },
                    "valid": {
                      "type": "boolean"
                    },
                    "expires_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "integrity_verified": {
                      "type": "boolean"
                    },
                    "issued_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "license_type": {
                      "type": "string"
                    },
                    "license_uuid": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "track_artists": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "track_name": {
                      "type": "string"
                    },
                    "user_email_masked": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Response404"
          },
          "422": {
            "description": "Configured reCAPTCHA validation failed."
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "g-recaptcha-response": {
                    "type": "string",
                    "description": "Required only when registration reCAPTCHA protection is enabled. Uses the license_verification action."
                  }
                }
              }
            }
          }
        },
        "description": "\n\nSynthetic, nonfunctional documentation fixtures only. Names and identifiers are invented, not copied from accounts. Numeric IDs and valid-format UUIDs can coincide with real records; never send these fixtures to a live API."
      }
    },
    "/licenses/{uuid}/revoke": {
      "post": {
        "tags": [
          "License Certificates"
        ],
        "summary": "Revoke a license certificate",
        "operationId": "revokeLicense",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "License UUID",
            "schema": {
              "type": "string",
              "example": "00000000-0000-4000-8000-0000a3a9e1ed"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "License revoked successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          },
          "404": {
            "description": "License certificate not found."
          },
          "422": {
            "description": "Missing or invalid reason."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string",
                    "maxLength": 500
                  }
                },
                "required": [
                  "reason"
                ]
              }
            }
          }
        },
        "description": "\n\nSynthetic, nonfunctional documentation fixtures only. Names and identifiers are invented, not copied from accounts. Numeric IDs and valid-format UUIDs can coincide with real records; never send these fixtures to a live API."
      }
    },
    "/tracks/{id}/fingerprint": {
      "post": {
        "tags": [
          "Audio Fingerprinting"
        ],
        "summary": "Generate audio fingerprint for a track",
        "operationId": "generateFingerprint",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Track ID",
            "schema": {
              "type": "integer",
              "example": 900000001
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fingerprint record returned; inspect fingerprint.status and fingerprint.error_message.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fingerprint": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "status": {
                          "type": "string"
                        },
                        "fingerprinted_at": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true
                        },
                        "error_message": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "description": "Caller lacks fingerprint-generation permission."
          },
          "500": {
            "description": "Fingerprint generation failed."
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "force_refresh": {
                    "type": "boolean",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "description": "\n\nSynthetic, nonfunctional documentation fixtures only. Names and identifiers are invented, not copied from accounts. Numeric IDs and valid-format UUIDs can coincide with real records; never send these fixtures to a live API."
      }
    },
    "/tracks/{id}/fingerprint/status": {
      "get": {
        "tags": [
          "Audio Fingerprinting"
        ],
        "summary": "Get fingerprint generation status",
        "operationId": "getFingerprintStatus",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Track ID",
            "schema": {
              "type": "integer",
              "example": 900000001
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fingerprint status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fingerprint": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "status": {
                          "type": "string"
                        },
                        "fingerprinted_at": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true
                        },
                        "error_message": {
                          "type": "string",
                          "nullable": true
                        },
                        "fingerprint_hash": {
                          "type": "string",
                          "nullable": true,
                          "description": "Present as a non-null value only for a completed fingerprint."
                        }
                      },
                      "nullable": true
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          }
        },
        "description": "\n\nSynthetic, nonfunctional documentation fixtures only. Names and identifiers are invented, not copied from accounts. Numeric IDs and valid-format UUIDs can coincide with real records; never send these fixtures to a live API."
      }
    },
    "/tracks/check-duplicates": {
      "post": {
        "tags": [
          "Audio Fingerprinting"
        ],
        "summary": "Check for duplicate tracks using fingerprinting",
        "operationId": "checkDuplicates",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "artist_names": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "maxLength": 255
                    }
                  },
                  "exclude_track_id": {
                    "type": "integer",
                    "nullable": true,
                    "description": "Existing track ID to exclude."
                  },
                  "playback_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "track_name": {
                    "type": "string",
                    "maxLength": 255
                  }
                },
                "required": [
                  "playback_url",
                  "track_name",
                  "artist_names"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Duplicate check results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {},
                      "description": "Duplicate-check service result. Inner service fields are not expanded in this correction."
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "422": {
            "description": "Invalid request fields."
          },
          "500": {
            "description": "Duplicate check unavailable or failed."
          }
        }
      }
    },
    "/tracks": {
      "get": {
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Tracks"
        ],
        "summary": "Get list of tracks",
        "operationId": "getTracks",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "example": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Items per page",
            "schema": {
              "type": "integer",
              "example": 25
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "Search query",
            "schema": {
              "type": "string",
              "example": "rock music"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of tracks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ],
                      "example": "success"
                    },
                    "pagination": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Pagination"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "data": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Track"
                              }
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          }
        }
      },
      "post": {
        "tags": [
          "Tracks"
        ],
        "summary": "Create a new track",
        "operationId": "createTrack",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Synthetic name Fixture"
                  },
                  "description": {
                    "type": "string",
                    "example": "Synthetic description Fixture"
                  },
                  "duration": {
                    "type": "integer",
                    "example": 180000,
                    "description": "Duration in milliseconds"
                  },
                  "genre": {
                    "type": "string",
                    "example": "Rock"
                  },
                  "artists": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "example": [
                      900000001,
                      900000002
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Track created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "track": {
                      "$ref": "#/components/schemas/Track"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "422": {
            "$ref": "#/components/responses/Response422"
          }
        },
        "description": "\n\nSynthetic, nonfunctional documentation fixtures only. Names and identifiers are invented, not copied from accounts. Numeric IDs and valid-format UUIDs can coincide with real records; never send these fixtures to a live API."
      }
    },
    "/tracks/{id}/download": {
      "get": {
        "tags": [
          "Tracks"
        ],
        "summary": "Download a track file",
        "operationId": "downloadTrack",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Track ID",
            "schema": {
              "type": "integer",
              "example": 900000001
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Track file download",
            "content": {
              "audio/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          },
          "403": {
            "$ref": "#/components/responses/Response403"
          },
          "404": {
            "$ref": "#/components/responses/Response404"
          }
        },
        "description": "\n\nSynthetic, nonfunctional documentation fixtures only. Names and identifiers are invented, not copied from accounts. Numeric IDs and valid-format UUIDs can coincide with real records; never send these fixtures to a live API."
      }
    },
    "/albums": {
      "get": {
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Albums"
        ],
        "summary": "Get list of albums",
        "operationId": "getAlbums",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "example": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Items per page",
            "schema": {
              "type": "integer",
              "example": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of albums",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "pagination": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Pagination"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "data": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Album"
                              }
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Response401"
          }
        }
      },
      "post": {
        "tags": [
          "Albums"
        ],
        "summary": "Create a new album",
        "operationId": "createAlbum",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
[...]
